body {
    overflow-x: hidden;
}

#about-brand-intro {
    position: relative;
    top: 65px;
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 80vh;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

#about-brand-intro .about-brand-history {
    width:40%;
    height: 500px;
    overflow: hidden;
}

#about-brand-intro .about-brand-history h3 {
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 25px;
}

#about-brand-intro .about-brand-history p {
    text-align: justify;
}

#about-brand-intro .about-brand-history img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#about-brand-intro .about-brand-history img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

#animation {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    min-height: 80vh;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

#animation h3 {
    font-size: 38px;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 25px;
}

#animation .animation-wraper {
    width: 900px;
    height: 600px;
    background-image: url('/assets/img/animation/Img_1.png');
    background-position: center;
    background-size: contain;
    box-shadow:1px 2px 60px rgba(0,0,0 ,0.4);
    position: relative;
    overflow-x: hidden;
}

#animation .animation-wraper .surface {
    height: 140px;
    width: 500%;
    background-image: url('/assets/img/animation/Img_02.png');
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
    animation: moveCar 6s linear infinite;
}
#animation .animation-wraper .car-image {
    position: absolute;
    bottom: 7%;
    left: 24%;
    animation: suspennsion 1s linear infinite;
}

#brands {
    width: 100vw;
    height: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    margin-top: 75px;
}

#brands .brands-container {
    width: 40%;
    min-height: 500px;
    height: auto;
}

#brands .brands-container h3 {
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 25px;
}

#brands .brands-container .brand-row {
    display: flex;
    justify-content: space-around;
}

#brands .brands-container .brand-row.firs-row {
    margin-top: 20px;
}

#brands .brands-container .brand-row .brand-col-logo {
    width: 20%;
    height: 125px;
    margin-bottom: 40px;
}

#brands .brands-container .brand-row .brand-col-logo img {
    width:90%;
    max-height: 100%;
    margin-left: 5%;
}

#brands .brands-container .brand-row .brand-col-logo .img-m-top {
    margin-top: 15%;
}

@keyframes moveCar {
    100% {
        transform: translateX(-2950px);
    }
}

@keyframes suspennsion {
    100% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(-2px);
    }
    0% {
        transform: translateY(-1px);
    }
}

@media screen and (max-width: 970px) {
    #about-brand-intro {
        flex-direction: column;
    }

    #about-brand-intro .about-brand-history {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    #about-brand-intro .about-brand-history h3 {
        margin-top: 50px;
    }

    #about-brand-intro .about-brand-history img {
        margin-top: 15px;
    }

    #brands {
        flex-direction: column-reverse;
    }

    #brands .brands-container {
        width: 100%;
        min-height: 200px;
        margin-top: 25px;
    }
    #brands .brands-container h3 {
        margin-top: 25px;
    }

    #animation .animation-wraper {
        width: 600px;
        height: 400px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #animation .animation-wraper .surface {
        width:3500px;
    }

    #animation .animation-wraper .car-image {
        bottom: 10%;
    }
}

@media screen and (max-width: 430px) {
    #animation .animation-wraper {
        width: 350px;
        height: 240px;
        background-repeat: no-repeat;
        overflow: hidden;
        margin-left: calc(50% - 120px);
    }

    #animation .animation-wraper .car-image {
        bottom: 15%;
    }
}