body {
    overflow-x: hidden;
}

.main {
    position: relative;
    top: 65px;
    width: 100%;
    height: auto;
}

#slider-intro {
    height: calc(95vh - 65px);
    width: 100%;
}

#new-models {
    width: 100%;
    height: 100vh;
    background-color: teal;
}

#brand {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.brand-description {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 600px;
}

.brand-info {
    width: 40%;
    padding: 15px;
    font-size: 20px;
}

.brand-info h3 {
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: 100;
}

.brand-info h3 span {
    font-weight: 600;
}

.brand-info a{
    color: #242525;
    border: 1px solid #242525;
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: calc(50% - 150px);
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}

.brand-info a:hover {
    background-color: #242525;
    color: #fff;
}

.brand-banner {
    width: 40%;
    background-image: url('/assets/img/index/vw-pickle-brand.jpg');
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.brand-banner:hover {
    transform: scale(1.03);
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slider .current {
    opacity: 1;
}

.slide .content {
    width:600px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: calc(0px - 600px);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.slider .current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: 0.3s ease-in-out;
}

.slide .content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#next {
    position: absolute;
    top: calc(50% - 25px);
    right: 10px;
}

#prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
}

.button {
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    width: 50px;
    height:50px;
    line-height: 50px;
    border-radius:25px;
    background: none;
}

.button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.slide:first-child {
    background-image: url('../img/slider/volkswagen-golf-8-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(2) {
    background-image: url('../img/slider/volkswagen-technologies-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(3) {
    background-image: url('../img/slider/volkswagen-passat-2018-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(4) {
    background-image: url('../img/slider/service-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(5) {
    background-image: url('../img/slider/volkswagen-tiguan-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 970px) {
    .slide .content {
        width: 50vw;
    }

    .brand-description {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .brand-info {
        width: 100%;
    }

    .brand-banner {
        width: 90%;
        height: 300px;
        padding: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 700px) {
    .slide .content {
        width: 100vw;
        bottom: 0;
    }
}