body {
    overflow-x: hidden;
}

.main {
    position: relative;
    top: 65px;
    width: 100%;
    height: auto;
}

#slider-intro {
    height: calc(95vh - 65px);
    width: 100%;
}

#new-models {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-models h2 {
    margin-top: 25px;
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 25px;
}

#new-models h2 span {
    font-weight: 600;
}

#new-models .models-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 400px;
}

#new-models .models-container .model-column {
    width: 45%;
    min-height: 400px;
}

#new-models .models-container .model-column .model-small {
    width: 100%;
    height:190px;
    display: flex;
}

#new-models .models-container .model-column .model-big {
    width: 100%;
    height: 100%;
}

.models-description p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.models-description a {
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #242525;
    display: block;
    text-align: center;
    margin-left: calc(50% - 100px);
    text-decoration: none;
    color: #242525;
    transition: all 0.3s ease-in-out;
}

#model-golf-8{
    width: 100%;
    height: 550px;
    background-image: url('../img/index/models-volkswagen-golf-8.jpeg');
    background-position: center;
    background-size: cover;
}

.models-description a:hover {
    background-color: #242525;
    color: #fff;
}

#second {
    margin-top: 20px;
}

.models-description {
    height: 100%;
    width: 50%;
    padding: 15px;
}

#models-volkswagen-passat {
    width: 50%;
    height: 100%;
    background-image: url('../img/index/model-volkswagen-passat-2020.jpeg');
    background-position: center;
    background-size: cover;
}

#models-volkswagen-tiguan {
    width: 50%;
    height: 100%;
    background-image: url('../img/index/model-volkswagen-tiguan-2020.jpeg');
    background-position: center;
    background-size: cover;
}

#brand {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.brand-description {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 600px;
}

.models-description-big {
    width: 100%;
    padding: 15px;
}

.models-description-big p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.models-description-big a {
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #242525;
    display: block;
    text-align: center;
    margin-left: calc(50% - 100px);
    text-decoration: none;
    color: #242525;
    transition: all 0.3s ease-in-out;
}

.models-description-big a:hover {
    background-color: #242525;
    color: #fff;
}

.brand-info {
    width: 40%;
    padding: 15px;
    font-size: 20px;
}

.brand-info h3 {
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: 100;
}

.brand-info h3 span {
    font-weight: 600;
}

.brand-info a{
    color: #242525;
    border: 1px solid #242525;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: calc(50% - 100px);
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}

.brand-info a:hover {
    background-color: #242525;
    color: #fff;
}

.brand-banner {
    width: 40%;
    background-image: url('../img/index/vw-pickle-brand.jpg');
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
}

.brand-banner:hover {
    transform: scale(1.03);
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slider .current {
    opacity: 1;
}

.slide .content {
    width:600px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: calc(0px - 600px);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.slider .current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: 0.3s ease-in-out;
}

.slide .content h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#next {
    position: absolute;
    top: calc(50% - 25px);
    right: 10px;
}

#prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 10px;
}

.button {
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    width: 50px;
    height:50px;
    line-height: 50px;
    border-radius:25px;
    background: none;
}

.button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.slide:first-child {
    background-image: url('../img/slider/volkswagen-golf-8-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(2) {
    background-image: url('../img/slider/volkswagen-technologies-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(3) {
    background-image: url('../img/slider/volkswagen-passat-2018-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(4) {
    background-image: url('../img/slider/service-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide:nth-child(5) {
    background-image: url('../img/slider/volkswagen-tiguan-slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#news {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#news h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 15px;
    font-weight: 100;
    font-size: 38px;
    text-align: center;
}

#news .news-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;;
}

#news .news-container .news-article {
    width: 25%;
    text-align: justify;
}

#news .news-container .news-article img {
    height: 300px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}

#news .news-container .news-article img:hover {
    transform: scale(1.05);
}

#news .news-container .news-article h3 {
    padding-left: 15px;
    text-align: center;
    justify-content: center;
}

#news .news-container .news-article p {
    padding: 15px;
}

#news .news-container .news-article a {
    display: block;
    height: 35px;
    width: 200px;
    border: 1px solid #242525;
    line-height: 35px;
    margin-left: calc(50% - 100px);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    color: #242525;
    transition: all 0.3s ease-in-out;
}

#news .news-container .news-article a:hover {
    background-color: #242525;
    color: #fff;
}

#concept {
    width: 100vw;
    height: auto;
    min-height: 70vh;
    display: flex;
    align-items: center;
    padding: 15px;
}

#concept iframe {
    width: 40%;
    height:400px;
    display: flex;
}

#concept .concept-info {
    width: 40%;
}

#concept .concept-info h3 {
    font-weight: 100;
    font-size: 38px;
    margin-bottom: 25px;
}

#concept .concept-info a {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #242525;
    width: 200px;
    height:35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #242525;
    margin-left: calc(50% - 100px);
    transition: all 0.3s ease-in-out;
}

#concept .concept-info a:hover {
    color: #fff;
    background-color: #242525;
}

#concept .concept-wrapper{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 970px) {
    body {
        overflow-x: hidden;
    }
    
    .slide .content {
        width: 50vw;
    }

    .brand-description {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .brand-info {
        width: 100%;
    }

    .brand-banner {
        width: 90%;
        height: 300px;
        padding: 15px;
        margin-bottom: 15px;
    }

    #model-golf-8 {
        width: 99%;
        height: 300px;
    }

    #new-models .models-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    #new-models .models-container .model-column {
        width: 100%;
    }

    #new-models {
        margin-bottom: 15px;
    }

    #news .news-container {
        flex-direction: column;
    }

    #news .news-container .news-article {
        width:100%;
    }

    .concept-wrapper {
        flex-direction: column;
    }

    #concept iframe {
        width: 98%;
        height: 200px;
    }

    #concept .concept-info {
        width: 98%;
        margin-top: 25px;
    }
}

@media screen and (max-width: 700px) {
    .slide .content {
        width: 100vw;
        bottom: 0;
    }
    #new-models .models-container .model-column .model-small {
        height: 250px;
    }
}

@media screen and (max-width: 500px) {


    .models-description a {
        width: 100px;
        margin-left: calc(50% - 50px);
    }
}