body {
    overflow-x: hidden;
}

.model-intro {
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 65px;
}

.model-intro h3 {
    color: white;
    font-size: 38px;
    font-weight: 300;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 15px;
}

.model-intro p {
    color: white;
    position: absolute;
    display: block;
    bottom: 50px;
    left: 50px;
    width: 400px;
    padding: 15px;
}

.model-intro .borders {
    height: 90%;
    width: 100px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    position: absolute;
    left: 25px;
    top: 5%;
}

#golf-8-intro {
    background-image: url('../../assets/img/models/golf/golf-8-cover.jpg');
}

#passat-intro {
    background-image: url('../../assets/img/models/passat/passat-2018-cover.jpg');
}

#tiguan-intro {
    background-image: url('../../assets/img/models/tiguan/tiguan-2020-cover.jpg');
}

.model-info {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top :65px;
    padding: 15px;
}

.model-info .image-info {
    width: 40%;
    height: auto;
    min-height: 400px;
    margin-bottom: 50px;
}

#golf-8-about {
    background-image: url('../../assets/img/models/golf/volkswagen-golf-8-image.jpg');
    background-position: center;
    background-size: cover;
}

#passat-about {
    background-image: url('../../assets/img/models/passat/passat-2018-model.jpeg');
    background-position: center;
    background-size: cover;
}

#tiguan-about {
    background-image: url('../../assets/img/models/tiguan/volkswagen-tiguan-back.jpg');
    background-position: center;
    background-size: cover;
}

.model-info .text-info {
    width: 40%;
    height: auto;
    min-height: 400px;
}

.model-info .text-info h3 {
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 25px;
}

.model-interior {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 65px;
    position: relative;
    padding: 15px;
}

.model-interior .interior-text {
    width: 40%;
    height: auto;
    min-height: 400px;
}

.model-interior .interior-text h3 {
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 25px;
}

.model-interior .interior-image {
    width: 40%;
    height: auto;
    min-height: 400px;
    margin-bottom: 50px;
}

#golf-8-interior {
    background-image: url('../../assets/img/models/golf/volkswagen-golf-8-interior.jpg');
    background-position: center;
    background-size: cover;
}

#passat-interior {
    background-image: url('../../assets/img/models/passat/passat-2018-interior.jpeg');
    background-position: center;
    background-size: cover;
}

#tiguan-interior {
    background-image: url('../../assets/img/models/tiguan/volkswagen-tiguan-interior.jpg');
    background-position: center;
    background-size: cover;
}

.model-last {
    width: 100vw;
    height: auto;
    min-height: 80vh;
    position: relative;
    top: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.model-last .model-last-text {
    width: 40%;
    height: auto;
    min-height: 400px;
}

.model-last .model-last-text h3 {
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 25px;
}

.model-last .model-last-image {
    width: 40%;
    height: auto;
    min-height: 400px;
    margin-bottom: 50px;
}

#golf-last-image {
    background-image: url('../../assets/img/models/golf/volkswagen-golf-8-gte.jpeg');
    background-position: center;
    background-size: cover;
}

#passat-last-image {
    background-image: url('../../assets/img/models/passat/passat-2018-technology.jpeg');
    background-position: center;
    background-size: cover;
}

#tiguan-last-image {
    background-image: url('../../assets/img/models/tiguan/volkswagen-tiguan-electric.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .model-intro p {
        width: 300px;
        padding: 15px;
    }

    .model-intro h3 {
        width: 300px;
        top: 50px;
        left: 50px;
        padding: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .model-info {
        flex-direction: column-reverse;
    }

    .model-info .image-info {
        width: 100%;
    }

    .model-info .text-info {
        width: 100%;
    }

    .model-interior {
        flex-direction: column;
    }

    .model-interior .interior-text {
        width: 100%;
    }

    .model-interior .interior-image {
        width: 100%;
    }

    .model-last {
        flex-direction: column-reverse;
    }

    .model-last .model-last-text {
        width: 100%;
    }

    .model-last .model-last-image {
        width: 100%;
    }
}